@import url('open_sans.css');
@import url('login.css');
@import url('pullRequests.css');
@import url('userData.css');

body {
    background-color: #FFFFFF;
    color: #666;
    direction: ltr;
    margin: 0;
    padding: 0;
    font-size: 15px;
}

body, input, select, textarea, button {
    font-family: arial, sans-serif;
}

h1, h2, h3, h4, h5, h6, p, ol, ul, li {
    margin: 0;
    padding: 0;
}

a {
    color: #3b73af;
    text-decoration: none;
}

a:focus, a:hover {
    text-decoration: underline;
}

button {
    cursor: pointer;
}

header {
    position: absolute;
    width: 100%;
    -webkit-app-region: drag;
}

header img {
    display: block;
    padding: 2px 0;
}

#viewport {
    margin: 0 auto;
    position: relative;

}

#title {
    background-color: #1f5182;
    padding-left: 10px;
}

#content {
    padding-top: 40px;
}


.content {
    margin: 20px auto;
    position: relative;
}

.input-textfield {
    background-color: #FFFFFF;
    box-shadow: 0 2px 1px rgba(0,0,0,0.08);
    padding: 10px;

    padding: 4px 5px;
    border: 1px solid #ccc;
    border-radius: 3.01px;
    box-shadow: inset 0 1px 3px #ccc;
}

.input-textfield-with-tool {
    margin-right: 50px;
}

.input-textfield-tool {
    background-color: #FFFFFF;
    box-shadow: 0 2px 1px rgba(0,0,0,0.08);
    position: absolute;
    top: 0;
    right: 0;
}

.input-textfield-tool button {
    border: none;
    background-color: #FFFFFF;
    padding: 10px 17px;
}

.input-textfield input,
.input-textfield textarea {
    border: none;
    padding: 0;
    outline: none;
    width: 100%;
    resize: none;
    font-size: 13px;
    box-sizing: border-box;
}

.input-textfield label {
    display: block;
    font-weight: bold;
    color: rgba(0,0,0,0.8);
}

.inline-textfield {
    box-shadow: 0 2px 1px rgba(0,0,0,0.08);
    padding: 5px;
    margin: 0 5px;
    width: 50px;
    border: none;
    box-sizing: border-box;
}

.input-checkbox label {
    font-size: 13px;
}

.input-button {
    text-align: right;
}

button {
    box-sizing: border-box;
    border: 1px solid #ccc;
    border-radius: 3.01px;
    cursor: pointer;
    display: inline-block;
    height: 2.14285714em;
    line-height: 1.42857143;
    margin: 0;
    padding: 4px 10px;
    text-decoration: none;
    text-shadow: 0 1px 0 #295989;
    vertical-align: baseline;
    white-space: nowrap;
    background: linear-gradient(to bottom,#4687ce 0,#3068a2 100%);
    border-color: #486582;
    color: #fff;
    font-variant: normal;
    font-weight: bold;
    font-size: 14px;
}

.dialog {
    position: fixed;
    -webkit-transform: translateY(-50%);
    top: 50%;
    left: 0;
    right: 0;
    width: 300px;
    margin: auto;
    padding: 50px;
    background-color: #FFFFFF;
    z-index: 1001;
    text-align: center;
    border: 1px solid #CCC;
    visibility: hidden;
    box-shadow: 0 0 6px rgba(0,0,0,0.2);
}

.dialog-mask {
    position: fixed;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    background-color: #FFFFFF;
    visibility: hidden;
}

.dialog,
.dialog-mask {
    opacity: 0;
    transition-duration: 0.3s;
    transition-property: opacity;
    transition-timing-function: ease-in-out;
}

.dialog.on {
    opacity: 1;
    visibility: visible;
}

.dialog-mask.on {
    opacity: 0.8;
    visibility: visible;
}

.dialog[data-ref=alert-dialog] h3 {
    margin-bottom: 20px;
}

.dialog[data-ref=alert-dialog] div[data-ref=content] {
    margin-bottom: 20px;
}


.badge {
    background: rgb(255, 11, 11);
    border-radius: 2em;
    color: rgb(255, 255, 255);
    display: inline-block;
    font-size: 11px;
    font-weight: bold;
    line-height: 1;
    margin: 0;
    min-width: 1em;
    padding: 3px 5px 2px 5px;
    position: relative;
    text-align: center;
    text-decoration: none;
    text-shadow: none;
    text-transform: uppercase;
}

.async-spinner {
    background: url(../assets/ajax_loader.gif) center center no-repeat rgba(255, 255, 255, 0.7);
    position: absolute;
}
