#login {
    border: 1px solid #ccc;
    border-radius: 5px;
    box-sizing: border-box;
    margin: 40px auto 200px auto;
    padding: 20px 30px;
    width: 100%;
    max-width: 600px;
    min-width: 200px;
    background-color: #f5f5f5;
}

#login h2 {
    color: #333;
    padding-bottom: 10px;
    border-bottom: 1px solid #ccc;
}
