#pullRequests .header {
    background: #f5f5f5;
    border-top: 1px solid #ccc;
    border-bottom: 1px solid #ccc;
    margin: 0;
    padding: 0 10px;
    position: relative;
}

#pullRequests .header-inner {
    clear: both;
    content: " ";
    display: table;
}

#pullRequests .header ul {
    float: left;
    margin: 0;
    padding: 0;
}

#pullRequests .header ul li {
    list-style: none;
    float: left;
    margin: 0;
    padding: 0;
}

#pullRequests .header ul li.selected a {
    color: #333;
    font-weight: bold;
    position: relative;
}

#pullRequests .header ul li.selected a:before,
#pullRequests .header ul li.selected a:after {
    border: 8px solid transparent;
    border-style: outset outset solid outset;
    border-bottom-color: #ccc;
    bottom: 0;
    content: "";
    height: 0;
    left: 40%;
    margin-left: -8px;
    overflow: hidden;
    position: absolute;
    width: 0;
}

#pullRequests .header ul li.selected a:after {
    background: transparent;
    border-bottom-color: #fff;
    bottom: -1px
}

#pullRequests .header ul li a {
    color: #3b73af;
    display: block;
    margin: 0;
    padding: 9px 10px;
    text-decoration: none;
    font-family: Arial, sans-serif;
    font-size: 14px;
}

#pullRequests .header button.refresh {
    position: absolute;
    right: 10px;
    top: 5px;
    font-size: 12px;
}

#pullRequests .body {
    padding: 0 10px;
    overflow-y: auto;
    overflow-x: hidden;
}

#pullRequests table {
    border-collapse: collapse;
    width: 100%;
    table-layout:fixed;
}

#pullRequests table thead {
    border-bottom: 1px solid #ccc;
}

#pullRequests table th {
    padding-top: 0;
}

#pullRequests table > thead > tr > th,
#pullRequests table > tbody > tr > th,
#pullRequests table > thead > tr > td,
#pullRequests table > tbody > tr > td {
    padding: 7px 10px;
    text-align: left;
    vertical-align: top;
    font-size: 12px;
}

#pullRequests table td div {
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
}

#pullRequests table > tbody > tr {
    background: #fff;
    border-bottom: 1px solid #ccc;
    color: #333;
}

#pullRequests table > tbody > tr:first-child > td,
#pullRequests table > tbody > tr:first-child > th {
    border-top: 1px solid #ccc;
}

#pullRequests table .repo,
#pullRequests table .repo > div {
    width: 132px;
}

#pullRequests table .user,
#pullRequests table .user > div {
    width: 132px;
}

#pullRequests table .date,
#pullRequests table .date > div {
    width: 102px;
}
