#userData {
    padding: 20px;
    position: relative;
    background-color: #f5f5f5;
}

#userData .avatar img {
    border-radius: 5px;
}

#userData .name-container {
    position: absolute;
    left: 110px;
    top: 30px;
}

#userData .fullname {
    font-size: 24px;
    line-height: 1.25;
    font-weight: bold;
}

#userData span.username {
    font-size: 14px;
    line-height: 1.25;
    color: #3b73af;
}

#userData label.username {
    font-size: 14px;
    line-height: 1.25;
}
