<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8">
        <title>My BitBucket Pull Requests To Review</title>
        <link rel="stylesheet" href="styles/app.css">
        <script data-main="lib/main" src="lib/etc/require.js"></script>
    </head>
    <body>

        <div id="viewport">

            <header>
                <div id="title">
                    <img src="assets/bitbucket-small.png" width="150" height="36" alt="BitBucket"/>
                </div>
            </header>

            <div id="content">

                <div id="login" style="display: none">
                    <h2>Enter your credentials</h2>
                    <div class="content">
                        <div class="input-textfield" title="Username">
                            <input type="text" placeholder="Username" data-ref="username" />
                        </div>
                    </div>
                    <div class="content">
                        <div class="input-textfield" title="Password">
                            <input type="password" placeholder="Password" data-ref="password" />
                        </div>
                    </div>
                    <div class="content">
                        <div class="input-button">
                            <button type="button" data-action="login">Log in</button>
                        </div>
                    </div>
                </div>

                <div id="userData" style="display: none">

                    <div class="avatar">
                        <img data-ref="avatar" src="assets/user.gif" width="64" height="64" />
                    </div>

                    <div class="name-container">
                        <div class="fullname" data-ref="fullname"></div>
                        <div><label class="username">Username:</label> <span class="username" data-ref="username"></span></div>
                    </div>

                </div>

                <div id="pullRequests" style="display: none">
                    <div class="header">
                        <div class="header-inner">
                            <ul>
                              <li class="selected">
                                <a>My Pull Requests To Review <span class="badge pr-count"></span></a>
                              </li>
                            </ul>
                            <button type="button" class="refresh" data-action="refresh">Refresh</button>
                        </div>
                    </div>
                    <div class="body">
                        <table>
                            <thead>
                                <tr>
                                    <th class="user">Author</th>
                                    <th class="title">Title</th>
                                    <th class="date">Updated</th>
                                </tr>
                            </thead>
                            <tbody></tbody>
                        </table>

                        <script type="html/x-template" class="row-template">
                            {{#items}}
                            <tr>
                                <td class="user">
                                    <div>
                                        <span>{{author}}</span>
                                    </div>
                                </td>
                                <td class="title">
                                    <div>
                                        <a href="{{link}}" target="_blank">{{title}}</a> ({{repository}})
                                    </div>
                                </td>
                                <td class="date">
                                    <div>
                                        <span>{{lastUpdate}}</span>
                                    </div>
                                </td>
                            </tr>
                            {{/items}}
                        </script>

                    </div>
                </div>

            </div>

            <div data-ref="alert-dialog" class="dialog">
                <h3>Alert</h3>
                <div data-ref="content"></div>
                <button data-ref="close-button">OK</button>
            </div>

            <div class="dialog-mask"></div>

        </div>

    </body>
</html>
